<div class="header">
    <h1>REAL SMART USER MONITORING</h1>
    <div>Based on {{nbVisits}} visits</div>
</div>
<div class="content">
    <div class="tabs">

    </div>
    <div class="middle">
        
    </div>
</div>
<div class="footer">

</div>